<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>D3 Test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="d3.js"></script>
  </head>
  <body>
  <%# <svg width="500" height="600"> %>
  <%#   <ellipse cx="255" cy="200" rx="46" ry="23"/> %>
  <%# </svg> %>
    <script type="text/javascript">
        <%# d3.select("body").append("p").text("New paragraph!"); %>
        var w = 600;
        var h = 500;
        var barPadding = 4;
        var dataset = [14,23,33,34,45,23,56,65,54,45,12,66,77,89];
        var svg = d3.select("body").append("svg").attr("width", w).attr("height", h);
        svg.selectAll("rect").data(dataset).enter().append("rect").attr("x", function (d,i){
          return i * ( w / dataset.length);
        }).attr("y",function (d){ return h - d; }).attr("width", w / dataset.length - barPadding).attr("height", function (d) {
          return d;
        }).attr("fill", "teal");

    </script>
  </body>
</html>     
